/* -------------------------------
BLOCS SIMPLE COMPONENT
------------------------------- */
.cbo-blocs{
  .blocs-title{
    text-align: center;
    margin-bottom: 3.125rem;
  }
  .blocs-list{
    .list-el{
      margin: 2.5rem 0;

      .el-inner{
        display: flex;
        align-items: center;

        .inner-picture{
          min-width: 2.5rem;
          width: 2.5rem;
          height: 2.5rem;
          display: block;

          img{
            position: relative;
          }
        }
        .inner-content{
          padding-left: 0.75rem;
          display: block;
          color: $colorbluedark;

          .content-title{
            color: $colorblue;
            display: block;
            margin-bottom: 6px;
          }
        }
      }
    }
  }
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
  .cbo-blocs{
    .blocs-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -1.25rem -0.625rem;

      .list-el{
        margin: 1.25rem 0;
        width: 50%;
        padding: 0 0.625rem;
      }
    }
  }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
  .cbo-blocs{
    .blocs-title{
      margin-bottom: 5rem;
    }
  }
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
  .cbo-blocs{
    .blocs-list{
      margin: -2.5rem -1.875rem;

      .list-el{
        width: 45%;
        margin: 2.5rem 0;
        padding: 0 1.875rem;

        .el-inner{
          .inner-content{
            padding-left: 1.875rem;
          }
        }
      }
    }
  }
}