/* -------------------------------
BLOCS SIMPLE 3 COLS COMPONENT
------------------------------- */
.cbo-blocssimple{
  .blocssimple-title{
    text-align: center;
    margin-bottom: 32px;
  }
  .blocssimple-list{
    position: relative;
    z-index: 2;
    max-width: 500px;
    margin: 50px auto 0 auto;

    .list-el{
      margin: 40px 0;

      .el-inner{
        .inner-top{
          display: flex;
          align-items: center;

          .inner-picture{
            min-width: 40px;
            height: 40px;

            img{
              object-position: left;
            }
          }
          .content-title{
            color: $colorblue;
            font-size: 22px;
            line-height: 30px;
            padding-left: 20px;
          }
        }
        .content-text{
          margin-top: 20px;
          text-align: justify;
        }
      }
    }
  }
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
  .cbo-blocssimple{
    .blocssimple-list{
      margin: 0 -20px;
      display: flex;
      justify-content: center;
      max-width: inherit;

      .list-el{
        margin: 0;
        width: 50%;
        padding: 0 20px;
      }
    }
  }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
  .cbo-blocssimple{
    .blocssimple-list{
      margin-top: 80px -15px 0 -15px;

      .list-el{
        width: 33.33333%;
        padding: 0 15px;

        .el-inner{
          .inner-top{
            align-items: flex-start;

            .inner-picture{
              min-width: 60px;
              height: 60px;
            }
            .content-title{
              hyphens: initial;
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
  .cbo-blocssimple{
    .blocssimple-list{
      margin: 80px -50px 0 -50px;

      .list-el{
        padding: 0 50px;

        .el-inner{
          .inner-top{
            .content-title{
              font-size: 30px;
              line-height: 40px;
            }
          }
        }
      }
    }
  }
}