/* -------------------------------
BLOCS SIMPLE 3 COLS COMPONENT
------------------------------- */
.cbo-blocssimple{
  .blocssimple-title{
    text-align: center;
    margin-bottom: 32px;
  }
  .blocssimple-list{
    position: relative;
    z-index: 2;
    max-width: 500px;
    margin: 50px auto 0 auto;

    .list-el{
      margin: 20px 0;

      .el-inner{
        display: block;
        color: $colorbluedark;
        background: $colorwhite;
        border-radius: 10px;
        padding: 20px;

        .inner-top{
          display: flex;
          align-items: center;

          .inner-picture{
            min-width: 40px;
            height: 40px;

            img{
              object-position: left;
            }
          }
          .content-title{
            font-size: 22px;
            line-height: 24px;
            padding-left: 10px;
          }
        }
        .content-text{
          margin-top: 16px;
          text-align: justify;
          display: block;
        }
      }
    }
  }
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
  .cbo-blocssimple{
    .blocssimple-list{
      margin: -10px;
      display: flex;
      justify-content: center;
      max-width: inherit;
      flex-wrap: wrap;

      .list-el{
        margin: 0;
        width: 50%;
        padding: 10px;
      }
    }
  }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
  .cbo-blocssimple{
    .blocssimple-list{
      margin: 80px -15px 0 -15px;

      .list-el{
        width: 33.33333%;
        padding: 15px;

        .el-inner{
          transition: all .4s;

          .inner-top{
            .content-title{
              hyphens: initial;
              padding-left: 20px;
            }
          }
          &:hover{
            box-shadow: -0 10px 20px 0 rgba($colorbluedark, .3);
          }
        }
      }
    }
  }
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
  .cbo-blocssimple{
    .blocssimple-list{
      .list-el{
        .el-inner{
          .inner-top{
            .inner-picture{
              min-width: 60px;
              height: 60px;
            }
            .content-title{
              font-size: 28px;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}