/* -------------------------------
BLOCS SIMPLE 3 COLS COMPONENT
------------------------------- */
.cbo-blocssimple{
  .blocssimple-title{
    text-align: center;
    margin-bottom: 2rem;
  }
  .blocssimple-list{
    position: relative;
    z-index: 2;
    max-width: 40.625rem;
    margin: 3.125rem auto 0 auto;

    .list-el{
      margin: 1.25rem 0;

      .el-inner{
        display: block;
        color: $colorbluedark;
        background: $colorwhite;
        border-radius: 0.625rem;
        padding: 1.25rem;

        &.inner--transparent{
          background: none;
        }
        .inner-top{
          display: flex;
          align-items: center;

          .inner-picture{
            min-width: 2.5rem;
            height: 2.5rem;
            display: block;

            img{
              object-position: left;
            }
          }
          .content-title{
            padding-left: 0.625rem;
          }
        }
        .content-text{
          margin-top: 1rem;
          text-align: justify;
          display: block;
        }
      }
    }
  }
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
  .cbo-blocssimple{
    .blocssimple-list{
      margin: -0.625rem;
      display: flex;
      justify-content: center;
      max-width: inherit;
      flex-wrap: wrap;

      .list-el{
        margin: 0;
        width: 50%;
        padding: 0.625rem;

        .el-inner{
          height: 100%;
        }
      }
    }
  }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
  .cbo-blocssimple{
    .blocssimple-list{
      margin: 4.0625rem -0.9375rem 0 -0.9375rem;

      .list-el{
        width: 33.33333%;
        padding: 0.9375rem;

        .el-inner{
          transition: all .4s;

          .inner-top{
            .content-title{
              hyphens: initial;
              padding-left: 1.25rem;
            }
          }
          &:hover{
            box-shadow: -0 0.625rem 1.25rem 0 rgba($colorbluedark, .3);
          }
        }
      }
    }
  }
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
  .cbo-blocssimple{
    .blocssimple-list{
      .list-el{
        .el-inner{
          .inner-top{
            .inner-picture{
              min-width: 3.75rem;
              height: 3.75rem;
            }
          }
        }
      }
    }
  }
}