/* -------------------------------
CONTEXT LAYOUT COMPONENT
------------------------------- */
.cbo-context{
    margin-bottom: 50px;
    position: relative;

    .context-shapecontainer{
        max-width: 1696px;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: calc(100% - 40px);
        z-index: 2;
        overflow: hidden;

        .context-shape{
            position: absolute;
            width: 169px;
            height: 500px;
    
            &.shape--top{
                background: url(../img/context-leftsvg.svg) no-repeat right top;
                background-size: contain;
                bottom: 0;
                right: 0;
            }
            &.shape--bottom{
                background: url(../img/context-rightsvg.svg) no-repeat left bottom;
                background-size: contain;
                top: 0;
                left: 0;
            }
        }
    }
    .context-title{
        text-align: center;
        margin-bottom: 32px;
    }
    .context-chapo{
        text-align: center;
        margin-bottom: 32px;
    }
    .context-content{
        position: relative;

        &:after{
            content: '';
            background: $colorblue;
            position: absolute;
            top: 40px;
            left: 0;
            width: 100%;
            height: calc(100% - 40px);
            z-index: -1;
        }
    }
    .context-video{
        margin-bottom: 0;
        padding-bottom: 50px;
        position: relative;
        z-index: 3;

        .video-container{
            .content-video {
                background: url(../img/desktop.svg) no-repeat center;
                background-size: contain;
                z-index: 3;

                .video-picture{
                    padding: 4% 8% 8%;
                    position: absolute;
                    width: 100%;
                    height: 100%;

                    .video-cover{
                        border-radius: 10px;
                        overflow: hidden;
                        position:relative;
                    }
                }
            }
        }
        .content-list{
            margin-top: 40px;
            color: $colorwhite;

            .list-el{
                margin-top: 40px;

                .el-title{
                    position: relative;
                    display: flex;
                    align-items: center;
    
                    &:before{
                        content: '';
                        background: url(../img/gradiant-check.svg) no-repeat;
                        background-size: contain;
                        width: 48px;
                        height: 37px;
                        display: block;
                        margin-right: 10px;
                    }
                }
                .el-text{
                    margin-top: 16px;
                }
            }
        }
    }
    .context-blocs{
        color: $colorwhite;
        position: relative;
        padding-bottom: 34px;

        &:after{
            content: '';
            background: $colorblue;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .blocs-inner{
            position: relative;
            z-index: 4;
        }
        .blocs-title{
            text-align: center;
            margin-bottom: 32px;

            strong{
                color: $colorwhite;
            }
        }
        .blocs-list{
            .list-el{
                margin-top: 54px;
                position: relative;
                z-index: 3;

                &:first-child{
                    position: relative;
                    z-index: 9;
                }
                .el-inner{
                    border-radius: 20px;
                    box-shadow: 0 0 0 3px $colorwhite inset;
                    padding: 58px 16px 16px 16px;
                    text-align: center;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: center;
                    flex-direction: column;
                    position: relative;
                    align-items: center;

                    .inner-uptitle{
                        background: $colorwhite;
                        height: 40px;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        color: $colorblue;
                        border-radius: 99rem 99rem 99rem 0;
                        position: absolute;
                        top: -18px;
                        font-size: 22px;
                        line-height: 40px;
                        padding: 0 20px;
                        font-weight: bold;
                    }
                    .inner-content{
                        width: 100%;
                    }
                    .inner-picture{
                        min-width: 125px;
                        height: 125px;
                        margin: 0 auto 22px auto;
                    }
                    .content-text{
                        width: 100%;

                        .content-title{
                            color: $colorbluelight;
                            margin: 0 0 6px 0;
                        }
                        .content-txt{
                            margin-bottom: 26px;
                            font-size: 20px;
                            line-height: 26px;
                        }
                        .content-featured{
                            text-align: left;
                            box-shadow: 0 0 0 2px $colorwhite inset;
                            border-radius: 99rem;
                            padding: 16px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 14px;
                            line-height: 16px;
                            width: 100%;

                            .featured-tooltip{
                                position: relative;
                                margin-left: 14px;

                                .icon--infos{
                                    color: $colorwhite;
                                    font-size: 18px;
                                }
                                .tooltip-detail{
                                    visibility: hidden;
                                    width: 160px;
                                    font-size: 10px;
                                    background-color:$colorblack;
                                    color: $colorwhite;
                                    text-align: center;
                                    border-radius: 6px;
                                    padding: 5px;
                                    position: absolute;
                                    z-index: 1;
                                    top: 150%;
                                    right: -33px;
                                }
                                &:hover{
                                    .tooltip-detail{
                                        visibility: visible;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .context-featuredbloc{
            position: relative;
            border-radius: 20px;
            margin-top: 40px !important;
            padding: 60px 20px;
            text-align: center;
            color: $colorwhite;
            overflow: hidden;

            &:after{
                content: '';
                background: url(../img/featured-bloc.jpg) no-repeat right center;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            .featuredbloc-title{
                position: relative;
                z-index: 3;
                font-weight: bold;

                .title-picto{
                    margin: 0 auto 24px auto;
                    width: 75px;
                    height: 75px;
                }
            }
        }
    }
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min) {
    .cbo-context{
        .context-video{
            .content-list{
                display: flex;
                flex-wrap: wrap;
                margin: 60px auto 0 auto;
                max-width: 1060px;

                .list-el{
                    width: 50%;
                    padding: 0 30px;
                    margin-top: 0;
                }
            }
        }
    }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min) {
    .cbo-context{
        margin-bottom: 80px;

        .context-shapecontainer{
            height: calc(100% - 80px);
            top: 80px;

            .context-shape{
                width: 236px;
                height: 700px;
        
                &.shape--top{
                    bottom:inherit;
                    top: 150px;
                }
                &.shape--bottom{
                    top: 40px;
                }
            }
        }
        .context-content{    
            &:after {
                top: 80px;
                height: calc(100% - 80px);
            }
        }
        .context-video{
            margin-top: 50px;
            padding-bottom: 80px;

            .video-container{
                .content-video {
                    padding-bottom: 0;
                    height: 600px;
                    max-width: 1000px;
                    margin: 0 auto;

                    .video-play {
                        font-size: 30px;
                        width: 100px;
                        height: 100px;
                        top: 50%;
                        left: 50%;
                        margin-top: -50px;
                        margin-left: -50px;
                    }
                }
            }
        }
        .content-list{
            .list-el{
                .el-title{
                    font-size: 38px;
                    line-height: 40px;
                }
            }
        }
        .context-blocs{
            color: $colorwhite;
            position: relative;
            padding-bottom: 80px;

            .blocs-list{
                margin: 0 -35px;
                display: flex;
                flex-wrap: wrap;

                .list-el{
                    width: 50%;
                    padding: 0 35px;
    
                    .el-inner{
                        height: 100%;
                        padding: 58px 20px 20px;

                        .inner-content{
                            height: 100%;
                            display: flex;
                            flex-direction: column;

                            .content-text{
                                flex: 1;
                                justify-content: space-between;
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
            .context-featuredbloc{
                margin-top: 62px !important;

                &:after{
                    background: url(../img/featured-bloc.jpg) no-repeat center center;
                    background-size: cover;
                }
            }
        }
    }
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min) {
    .cbo-context{
        margin-bottom: 110px;

        .context-video{
            padding-bottom: 110px;
        }
        .context-blocs{
            padding-bottom: 110px;

            .blocs-list{
                .list-el {
                    .el-inner{
                        flex-wrap: nowrap;
                        text-align: left;
                        padding: 58px 20px;

                        .inner-content{
                            flex-direction: initial;
                        }
                        .inner-picture{
                            margin: 0 30px 0 0;
                        }
                        .content-text{
                            flex: inherit;
                            height: auto;
                            justify-content: inherit;

                            .content-txt{
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* -------------------------------
XLARGE SCREENS
------------------------------- */
@media (min-width: $screen-xl-min) {
    .cbo-context{
        .context-shapecontainer{
            left: 50%;
            margin-left: -848px;

            .context-shape{
                width: 300px;
                height: 886px;
        
                &.shape--top{
                    top: 350px;
                }
                &.shape--bottom{
                    top: 40px;
                }
            }
        }
        .context-blocs{
            .blocs-list{
                .list-el {
                    .el-inner{
                        padding: 58px 36px;
                    }
                }
            }
        }
    }
}