/* -------------------------------
CTA SIMPLE COMPONENT
------------------------------- */
.cbo-ctasimple{
  .ctasimple-box{
    box-shadow: 0 0 0 2px $colorbluelight inset;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $colorbluedark;

    .box-content{
      flex: 1;

      .content-title{
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        margin-bottom: 14px;
        display: flex;
        align-items: center;
  
        i{
          font-size: 26px;
          margin-right: 12px;
        }
      }
    }
    .icon--next-arrow{
      margin-left: 20px;
      color: $colorbluelight;
      font-size: 24px;
    }
  }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
  .cbo-ctasimple{
    .ctasimple-box{
      padding: 26px;
      transition: all .4s;

      &:hover{
        background: $colorbluelight;
        color: $colorwhite;

        .icon--next-arrow{
          color: $colorwhite;
        }
      }
    }
  }
}