/* -------------------------------
HERO RICH COMPONENT
------------------------------- */
.cbo-herorich{
    &.herorich--full{
        .herorich-inner{
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
        .herorich-picture{
            width: 100%;
            overflow: hidden;

            .picture-secondpic{
                display: none;
            }
            .picture-main{
                border-radius: 0;
                min-height: inherit;
                padding-bottom: 45%;
            }
        }
        .herorich-content{
            text-align: center;
        }
    }
    &.herorich--contain{
        .herorich-picture {
            .picture-main{
                padding-bottom: 0;
            }
        }
    }
    .herorich-inner{
        padding-left: 0;
        padding-right: 0;
    }
    .herorich-picture{
        position: relative;
        margin: 0 0px 40px auto;
        width: calc(100% - 60px);
        position: relative;

        .picture-main{
            padding-bottom: 100%;
            border-radius: 20px 0 0 20px;
            overflow: hidden;
            min-height: 350px;
            width: 100%;
            right: 0%;

            &.picture--left{
                img{
                    object-position: left center;
                }
            }
            &.picture--right{
                img{
                    object-position: right center;
                }
            }
        }
        .picture-secondpic{
            position: absolute;
            bottom: -10%;
            left: -10%;
            z-index: 2;
            width: 80%;

            img{
                position: relative;
            }
        }
    }
    .herorich-content{
        max-width: 600px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        z-index: 3;

        .herorich-title{
            margin-bottom: 28px;
            hyphens: initial;
        }
        .herorich-subtitle{
            font-size: 22px;
            line-height: 28px;
        }
        .content-infos{
            font-size: 14px;
            margin: 40px 0;
        }
        .content-list{
            margin-top: 40px;

            .list-el{
                margin: 30px 0;

                .el-inner{
                    display: flex;
                    align-items: center;

                    .inner-picture{
                        min-width: 34px;
                        height: 34px;
                        margin-right: 18px;
                    }
                    .inner-text{
                        margin: 0;
                    }
                }
            }
        }
        .container-buttons{
            margin-top: 30px;

            .buttons-list{
                .cbo-button{
                    width: 100%;

                    &:nth-child(2n){
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
    .cbo-herorich{
        &.herorich--full{
            .herorich-inner{
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }
        }
    }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
    .cbo-herorich{
        &.herorich--full{
            .herorich-inner{
                padding-left: 4.375rem;
                padding-right: 4.375rem;
            }
            .herorich-picture{
                max-width: inherit;
                max-height: 500px;
            }
            .herorich-content{
                padding: 60px 70px 0 70px;
                max-width: inherit;
                width: 100%;

                .content-list{
                    margin-left: auto;
                    margin-right: auto;
                    width: fit-content;
                }
                .container-buttons{
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .herorich-inner{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            padding-left: 70px;
        }
        .herorich-picture{
            max-width: 750px;
            width: 42vw;
            margin: 0;

            .picture-main{
                padding-bottom: 0;
                height: 100%;
            }
            .picture-secondpic{
                bottom: inherit;
                top: -30px;
                width: 90%;
                max-width: 380px;
                left: -15%;
            }
        }
        .herorich-content{
            max-width: 720px;
            margin: 0;
            padding: 60px 0;
            width: 52%;
            margin: 0 auto 0 0;

            .content-list{
                .list-el{
                    margin: 20px 0;
                }
            }
            .container-buttons{
                .buttons-list{
                    display: flex;

                    .cbo-button{
                        width: fit-content;
    
                        &:nth-child(2n){
                            margin: 0 0 0 15px;
                        }
                    }
                }
            }
        }
    }
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
    .cbo-herorich{
        margin-top: -70px;

        &.herorich--full{
            margin-top: 0px;

            .herorich-picture{
               position: relative;
               left: 0;
               min-height: inherit;
            }
        }
        .herorich-inner{
            padding-left: 70px;
        }
        .herorich-picture{
            position: absolute;
            top: 0;
            width: 40vw;
            left: 60vw;
            height: 100%;
            min-height: 450px;
            max-width: inherit;

            .picture-secondpic {
                top: -50px;
                max-width: 55%;
                min-width: 420px;
            }
        }
        .herorich-content{
            padding: 80px 0;

            .herorich-title{
                margin-bottom: 40px;
            }
            .container-buttons{    
                .buttons-list{
                    .cbo-button{
                        &:nth-child(2n){
                            margin: 0 0 0 30px;
                        }
                    }
                }
            }
        }
    }
}
/* -------------------------------
XLARGE SCREENS
------------------------------- */
@media (min-width: $screen-xl-min){
    .cbo-herorich{
        .herorich-picture{
            width: 45vw;
            left: 55vw;
        }
    }
}