/* -------------------------------
KEYNUMBERS COMPONENT
------------------------------- */
.cbo-keynumbers{
  .keynumbers-title{
    text-align: center;
  }
  .keynumbers-list{
    margin-top: 3.125rem;

    .list-el{
      margin: 2.5rem 0;

      .el-inner{
        padding-left: 1rem;
        position: relative;

        &:before{
          content: '';
          background: linear-gradient(25deg, rgba(0,239,251,1) 0%, rgba(47,153,255,1) 57%, rgba(22,103,255,1) 100%);
          width: 0.1875rem;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 0.25rem;
        }
        .inner-number{
          color: $colorblue;
        }
        .inner-chapo{
          color: $colorblue;
          margin-top: 0.875rem;
          font-weight: bold;
        }
        .inner-text{
          margin-top: 0.875rem;
        }
      }
    }
  }
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
  .cbo-keynumbers{
    .keynumbers-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 3.125rem -0.9375rem 0 -0.9375rem;
  
      .list-el{
        margin: 0;
        width: 33.33333%;
        padding: 0 0.9375rem;
      }
    }
  }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
  .cbo-keynumbers{
    .keynumbers-list{
      margin: 5rem -0.9375rem 0 -0.9375rem;
    }
  }
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
  .cbo-keynumbers{
    .keynumbers-list{
      margin: 5rem -1.875rem 0 -1.875rem;

      .list-el{
        padding: 0 1.875rem;

        .el-inner{
          padding-left: 1.5rem;
        }
      }
    }
  }
}