/* -------------------------------
FULL PICTURE COMPONENT
------------------------------- */
.cbo-fullpicture {
  .fullpicture-title{
    text-align: center;
    padding: 0 20px;
    margin-bottom: 32px;
  }
  .fullpicture-chapo{
    text-align: center;
    padding: 0 20px;
    margin-bottom: 50px;
  }
  .fullpicture-picture{
    &.picture--desktop{
      display: none;
    }
    &.picture--mobile{
      padding: 0 20px;

      img{
        position: relative;
        max-height: 500px;
      }
      &.mobile--cover{
        padding: 0;

        img{
          max-height: inherit;
        }
      }
    }
  }
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
  .cbo-fullpicture {
    .fullpicture-title{
      padding: 0 40px;
    }
    .fullpicture-chapo{
      padding: 0 40px;
    }
    .fullpicture-picture{
      &.picture--desktop{
        display: block;

        img{
          position: relative;
        }
      }
      &.picture--mobile{
        display: none;
      }
    }
  }
}