/* -------------------------------
TEXT PICTURE LIST COMPONENT
------------------------------- */
.cbo-textpicturelist {
  .textpicturelist-title{
    text-align: center;
    margin-bottom: 2rem;
  }
  .textpicturelist-picture{
    max-width: 40.625rem;
    margin: 0 auto 1.25rem auto;
    padding-bottom: 70%;
  }
  .textpicturelist-content {
    max-width: 40.625rem;
    margin: 0 auto;

     &.content--timeline{
      .list-el{
        position: relative;

          &:after{
            content: '';
            background: $colorgrey;
            width: 0.3125rem;
            height: calc(100% - -2.8125rem);
            position: absolute;
            top: 0.1875rem;
            left: 1.75rem;
          }
          &:last-child{
            &:after{
              display: none;
            }
          }
      }
    }
    .list-el{
      .el-inner{
        z-index: 2;
        position: relative;
        display: flex;
        margin-top: 2.8125rem;

        .inner-picture{
          margin-right:1.5rem;
          min-width: 3.75rem;
          height: 5rem;
          display: block;
        }
        .inner-title {
          color: $colorblue;
          margin-bottom: 0.75rem;
          font-size: 1.625rem;
          line-height: 1.625rem;
          font-weight: bold;
        }
      }
    }
  }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min) {
  .cbo-textpicturelist {
    .inner-container{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
    }
    .textpicturelist-picture{
      width: 45%;
      max-width: inherit;
      margin: 0;
      padding-bottom: 50%;
    }
    .textpicturelist-content {
      width: 45%;
      max-width: inherit;
      margin: 0;

      .list-el{
        &:first-child{
          .el-inner{
              margin-top: 0;
          }
        }
      }
    }
    &.textpicturelist--right {
      .inner-container{
        flex-direction: row-reverse;
      }
    }
  }
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min) {
  .cbo-textpicturelist {
    .textpicturelist-content {
      .list-el{
        .el-inner{
          .inner-title {
            font-size: 2rem;
            line-height: 2rem;
          }
        }
      }
    }
  }
}