/* -------------------------------
TEXT PICTURE COMPONENT
------------------------------- */
.cbo-textpicture {
  .textpicture-icon{
    display: block;
    margin: 0 auto 20px auto;
    width: 70px;
    height: 70px;
  }
  .textpicture-title{
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
  }
  .textpicture-picture{
    max-width: 650px;
    margin: 0 auto 20px auto;
    padding-bottom: 70%;
  }
  .textpicture-content {
    max-width: 650px;
    margin: 0 auto;

    .content-quote{
      display: flex;
      margin-bottom: 30px;

      .quote-picture{
        min-width: 100px;
        height: 100px;
        border-radius: 99rem;
        overflow: hidden;
        background: linear-gradient(0deg, rgba(118,243,255,1) 0%, rgba(255,255,255,1) 100%);
      }
      .quote-informations{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        padding-left: 50px;

        &:before{
          content: '';
          background: url(../img/quote.svg) no-repeat;
          background-size: contain;
          width: 60px;
          height: 67px;
          position: absolute;
          left: -30px;
        }
        .informations-name{
          font-size: 24px;
          color: $colorblue;
          width: 100%;
          display: block;
        }
        .informations-function{
          font-size: 20px;
          color: $colorbluelight;
        }
      }
    }
  }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min) {
  .cbo-textpicture {
    .textpicture-icon{
      margin-bottom: 40px;
    }
    .textpicture-inner{
      &.textpicture--margetopnone{
        margin-top: 0;
      }
      &.textpicture--margebotnone{
        margin-bottom: 0;
      }
    }
    .inner-container{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
    }
    .textpicture-picture{
      width: 45%;
      max-width: inherit;
      margin: 0;
      padding-bottom: 50%;
    }
    .textpicture-content {
      width: 45%;
      max-width: inherit;
      margin: 0;
    }
    &.textpicture--right {
      .inner-container{
        flex-direction: row-reverse;
      }
    }
  }
}