/* -------------------------------
TEXT PICTURE COMPONENT
------------------------------- */
.cbo-textpicture {
  .textpicture-icon{
    display: block;
    margin: 0 auto 1.25rem auto;
    width: 4.375rem;
    height: 4.375rem;
  }
  .textpicture-title{
    text-align: center;
    margin-bottom: 3.125rem;
    width: 100%;
  }
  .textpicture-picture{
    max-width: 40.625rem;
    margin: 0 auto 1.25rem auto;
    padding-bottom: 70%;
  }
  .textpicture-content {
    max-width: 40.625rem;
    margin: 0 auto;

    .content-quote{
      display: flex;
      margin-bottom: 1.875rem;

      .quote-picture{
        min-width: 6.25rem;
        height: 6.25rem;
        border-radius: 99rem;
        overflow: hidden;
        background: linear-gradient(0deg, rgba(118,243,255,1) 0%, rgba(255,255,255,1) 100%);
      }
      .quote-informations{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        padding-left: 3.125rem;

        &:before{
          content: '';
          background: url(../img/quote.svg) no-repeat;
          background-size: contain;
          width: 3.75rem;
          height: 4.1875rem;
          position: absolute;
          left: -1.875rem;
        }
        .informations-name{
          font-size: 1.5rem;
          color: $colorblue;
          width: 100%;
          display: block;
        }
        .informations-function{
          font-size: 1.25rem;
          color: $colorbluelight;
        }
      }
    }
  }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min) {
  .cbo-textpicture {
    .textpicture-icon{
      margin-bottom: 2.5rem;
    }
    .textpicture-inner{
      &.textpicture--margetopnone{
        margin-top: 0;
      }
      &.textpicture--margebotnone{
        margin-bottom: 0;
      }
    }
    .inner-container{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
    }
    .textpicture-picture{
      width: 45%;
      max-width: inherit;
      margin: 0;
      padding-bottom: 50%;
    }
    .textpicture-content {
      width: 45%;
      max-width: inherit;
      margin: 0;
    }
    &.textpicture--right {
      .inner-container{
        flex-direction: row-reverse;
      }
    }
  }
}