/* -------------------------------
TEXT PICTURE LIST COMPONENT
------------------------------- */
.cbo-textpicturelist {
  .textpicturelist-title{
    text-align: center;
    margin-bottom: 32px;
  }
  .textpicturelist-picture{
    max-width: 650px;
    margin: 0 auto 20px auto;
    padding-bottom: 70%;
  }
  .textpicturelist-content {
    max-width: 650px;
    margin: 0 auto;

     &.content--timeline{
      .list-el{
        position: relative;

          &:after{
            content: '';
            background: $colorgrey;
            width: 5px;
            height: calc(100% - -45px);
            position: absolute;
            top: 3px;
            left: 28px;
          }
          &:last-child{
            &:after{
              display: none;
            }
          }
      }
    }
    .list-el{
      .el-inner{
        z-index: 2;
        position: relative;
        display: flex;
        margin-top: 45px;

        .inner-picture{
          margin-right:24px;
          min-width: 60px;
          height: 80px;
          display: block;
        }
        .inner-title {
          color: $colorblue;
          margin-bottom: 12px;
          font-size: 26px;
          line-height: 26px;
          font-weight: bold;
        }
      }
    }
  }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min) {
  .cbo-textpicturelist {
    .inner-container{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
    }
    .textpicturelist-picture{
      width: 45%;
      max-width: inherit;
      margin: 0;
      padding-bottom: 50%;
    }
    .textpicturelist-content {
      width: 45%;
      max-width: inherit;
      margin: 0;

      .list-el{
        &:first-child{
          .el-inner{
              margin-top: 0;
          }
        }
      }
    }
    &.textpicturelist--right {
      .inner-container{
        flex-direction: row-reverse;
      }
    }
  }
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min) {
  .cbo-textpicturelist {
    .textpicturelist-content {
      .list-el{
        .el-inner{
          .inner-title {
            font-size: 32px;
            line-height: 32px;
          }
        }
      }
    }
  }
}