/* -------------------------------
NEWS BLOC MICRO COMPONENT
------------------------------- */
.news-list{
	max-width: 600px;
	margin: 0 auto;

	.list-el{
		margin: 40px 0;

		.el-inner{
			.inner-picture,
			.content-video{
				padding-bottom: 60%;
				border-radius: 15px;
				overflow: hidden;
				margin-bottom: 20px;
			}
			.inner-content{
				.content-title{
					color: $colorblue;
					position: relative;
					display: flex;
					align-items: center;
					margin-bottom: 20px;

					&::before{
						content: '';
						background: url(../img/icone-news.svg) no-repeat;
						background-size: contain;
						margin-right: 16px;
						width: 50px;
						height: 50px;
						display: block;
					}
				}
				.cbo-cms{
					padding-left: 16px;
					position: relative;
					font-weight: 500;

					&:before{
						content: '';
						background: linear-gradient(25deg, rgba(0,239,251,1) 0%, rgba(47,153,255,1) 57%, rgba(22,103,255,1) 100%);
						width: 3px;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						border-radius: 4px;
					}
				}
			}
		}
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
	.news-list{
		max-width: inherit;
		margin: 0;
	
		.list-el{
			margin: 60px 0;

			&:nth-child(2n){
				.el-inner{
					flex-direction: row-reverse;
				}
			}
			.el-inner{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.inner-picture{
					padding-bottom: 0;

					img{
						position: relative;
					}
				}
				.inner-picture,
				.content-video{
					width: 48%;
					height: auto;
					margin-bottom: 0;
					padding-bottom: 0;
				}
				.inner-content{
					width: 48%;
					padding: 50px 0;
					display: flex;
					align-items: center;
				}
			}
		}
	}
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
	.news-list{	
		.list-el{
			margin: 80px 0;

			.el-inner{
				.inner-picture,
				.content-video{
					width: 46%;
				}
				.inner-content{
					width: 46%;
					padding: 80px 0;
				}
			}
		}
	}
}