/* -------------------------------
TESTIMONIAL BLOC MICRO COMPONENT
------------------------------- */
.testimonialslist-list{
	.list-el{
		.el-inner{
			.inner-content{
				padding: 0.1875rem;
				position: relative;
				font-weight: bold;

				&:before{
					content: '';
					background: url(../img/quote.svg) no-repeat;
					width: 60px;
					height: 68px;
					position: absolute;
					z-index: 3;
					top: -23px;
					left: 50%;
					margin-left: -30px;
				}
				.content-container{
					border-radius: 1rem;
					padding: 46px 14px 20px 14px;
					position: relative;
					z-index: 2;
					background: $colorwhite;
					height: 100%;

					.content-title{
						color: $colorbluelight;
						margin:0 0 26px 0;
						font-size: 24px;
						line-height: 32px;
						text-align: center;
					}
				}
				.inner-border{
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 1;
					border-radius: 1.125rem;
					overflow: hidden;
					background: linear-gradient(to left,$colorbluemedium, $colorbluelight);
				}
			}
			.inner-informations{
				margin-top: 1.75rem;
				font-weight: bold;
				text-align: center;

				.informations-name{
					color: $colorblue;
				}
				.informations-society{
					color: $colorbluelight;
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
		&.el--video{
			.el-inner{
				.inner-content{
					padding: 3px;

					.content-video {
						padding-bottom: 138%;

						.video-play {
							color: $colorwhite;
							background:$colorblue;
						}
					}
				}
			}
			&:hover{
				.video-play {
					background:$colorwhite;
					color: $colorblue;
				}
			}
		}
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min) {
	.testimonialslist-list{
		.list-el{
			.el-inner{	
				.inner-content{
					.content-container{
						display: flex;
						align-items: center;
					}
				}
			}
		}
	}
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min) {
	.testimonialslist-list{
		.list-el{
			.el-inner{
				.inner-content {
					&:before{
						width: 92px;
						height: 103px;
						top: -36px;
						margin-left: -46px;
					}
					.content-container{
						padding: 80px 50px 30px;
					}
				}
			}
			&.el--video {
				.el-inner {
					.inner-content {
						.content-video{
							padding-bottom: 0;
							height: 100%;
							min-height: 34.5rem;
						}
					}
				}
			}
		}
	}
}