/* -------------------------------
BREADCRUMB MICRO COMPONENT
------------------------------- */
.cbo-breadcrumb{
	font-size: 12px;
	line-height: 14px;
	position: relative;
	z-index: 2;
	color: $colorbluemedium;
	margin-bottom: 30px;

	a{
		color: $colorbluemedium;
		text-decoration: none;
		transition: all .4s;

		&:hover{
			color: $colorbluelight;
		}
	}
	.breadcrumb_last{
		font-weight: bold;
	}
}