/* -------------------------------
CONTAINER MICRO COMPONENT
------------------------------- */
.cbo-container {
  margin: 3.125rem auto;
  max-width: 106rem;
  padding: 0 1.25rem;
  position: relative;
  width: 100%;

  &.container--nomargin{
    margin: 0 auto;
  }
  &.container--padding {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3.125rem;
    padding-bottom:3.125rem;
  }
  &.container--medium{
    max-width: 81.25rem;
  }
  &.container--small{
    max-width: 62.5rem;
  }
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min) {
  .cbo-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min) {
  .cbo-container {
    margin: 6.25rem auto;
    padding-left: 4.375rem;
    padding-right: 4.375rem;

    &.container--padding {
      padding-top: 6.25rem;
      padding-bottom: 6.25rem;
    }
  }
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min) {
  .cbo-container {
    margin: 7.5rem auto;

    &.container--padding {
      padding-top: 7.5rem;
      padding-bottom: 7.5rem;
    }
  }
}