/* -------------------------------
MODALE MICRO COMPONENT
------------------------------- */
.cbo-modale{
	visibility: hidden;
	opacity: 0;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .6s cubic-bezier(.075,.82,.165,1);

	.modale-overlay{
		background:rgba(22, 12, 33, 0.7);
		transition: all .6s cubic-bezier(.075,.82,.165,1);
		position: fixed;
		z-index: 5;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		visibility: hidden;
		opacity: 0;
	}
	&.modale--open{
		visibility: visible;
		opacity: 1;

		.modale-overlay{
			visibility: visible;
			opacity: 1;
		}
		.modale-inner{
			transform: scale(1);
			visibility: visible;
			opacity: 1;
		}
	}
	.modale-inner{
		background: $colorwhite;
		position: relative;
		border-radius: 1.25rem;
		padding: 2.5rem 1.25rem;
		overflow-y: auto;
		transform: scale(0);
		z-index: 6;
		max-height: 100%;
		width: 100%;
		max-width: 45rem;
		transition: all .6s cubic-bezier(.075,.82,.165,1);
		min-height: 31.25rem;

		.modale-close{
			width: 1.25rem;
			height: 1.25rem;
			padding: 0;
			position: absolute;
			top: 1.25rem;
			right: 1.25rem;
			cursor: pointer;
			border-radius: 50%;
			z-index: 3;

			.top, .bottom{
				background: $colorblack;
				height:2px;
				border-radius: 99rem;
				width: 1.25rem;
				position:absolute;
				left: 0;
				transition:all .3s; 
			}
			.top{
				transform: rotate(45deg);
			}
			.bottom{
				transform: rotate(-45deg);
			}
			&:hover{
				.top, .bottom{
					background: $colorbluelight;
				}
			}
		}
		.modale-content{
			text-align: center;
			margin-bottom: 1.25rem;

			.modale-title{
				color: $colorblue;
				font-size: 2.25rem;
			}
		}
		.contact-form{
			.form-inner{
				form{
					display: flex;
					flex-wrap: wrap;
					margin: 0 -0.625rem;

					&.sent{
						.wpcf7-response-output{
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							margin: 0;
							z-index: 1;
						}
					}
					.form-field {
						padding: 0 0.625rem;

						&.field--half{
							width: 50%;
						}
						textarea{
							height: 6.25rem;
						}
						&.field--input{
							text-align: center;
							margin-bottom: 0;

							input[type="submit"]{
								min-width: 18.75rem;
								height: 2.5rem;
							}
						}
					}
				}
			}
		}
	}
	&.modale--infos{
		&.infos--open{
			visibility: visible;
			opacity: 1;

			.modale-overlay{
				visibility: visible;
				opacity: 1;
			}
			.modale-inner{
				visibility: visible;
				opacity: 1;
			}
		}
		.modale-inner{
			transform: scale(1);
			max-width: 26.5625rem;
			min-height: auto;
			text-align: center;
			overflow: visible;
			visibility: hidden;
			opacity: 0;

			&:before{
				content: '';
				background: url(../img/modale-deco.svg) no-repeat center top;
				height: 18.75rem;
				width: 100%;
				background-size: contain;
				position: absolute;
				top: -6.875rem;
				left: 0;
			}
			.modale-picture{
				max-width: 14.5rem;
				height: 17rem;
				margin: -6.25rem auto 0.625rem;
			}
			.modale-content{
				margin-bottom: 0;

				.content-uptitle{
					margin-bottom: 0.875rem;
					font-size: 1.5625rem;
					display: block;
				}
				.content-title{
					color: $colorbluemedium;
					display: block;
				}
			}
			&.modale--lightbluegradient{
				background: linear-gradient(180deg, rgba(173,242,255,1) 0%, rgba(87,228,255,1) 48%);

				.modale-content{
					.content-title{
						strong{
							background-image: linear-gradient(90deg,$colorwhite 0,$colorwhite);
						}
					}
				}
			}
			&.modale--bluegradient{
				background: linear-gradient(0deg, rgba(0,239,251,1) 0%, rgba(47,153,255,1) 48%, rgba(22,103,255,1) 80%);

				.modale-close{
					.bottom,
					.top{
						background: $colorwhite;
					}
				}
				.modale-content{
					color: $colorwhite;

					.content-title{
						strong{
							color: $colorwhite;
							background-image: linear-gradient(90deg,$colorwhite 0,$colorwhite);
						}
					}
				}
			}
		}
	}
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
	.cbo-modale{
		.modale-inner{
			padding: 2.5rem;
		}
	}
}