/* -------------------------------
SOCIAL SHARE MICRO COMPONENT
------------------------------- */
.cbo-social{
	color: $colorbluedark;
	display: flex;
	align-items: center;
	margin: 0 auto 30px auto;

	.share-title{
		margin-right: 10px;
		font-weight: bold;
	}
	.social-icon{
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin: 0 4px;
		width: 40px;
		height: 40px;
		border-radius: 99rem;
		color: $colorbluedark;
		box-shadow: 0 0 0 1px $colorblue inset;

		&:hover{
			color: $colorblue;
		}
	}
}